// Import site utilities.
@import '../../global/utils/init';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


.card-list{
  background-color: #f9f8f5;
  padding: 25px;
}

.card-images{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
}

// .card-images > img{
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 50%;
// }

.card-captions{
  color: #3a3533;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  text-align: center;
  padding-right: 45px;
}

.card-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 115px;
  
  @include breakpoint($bp-sm) {
    display: flex;
    flex-direction: column;
    margin-right: -26px;
    padding: 0;
  }

}

.card-list__title {
  margin-bottom: 32px;
  text-align: center;
  color: #3a3533;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.card-list__subtitle{
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 34px;
}

.card-list__button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 23px;
  gap: 10px;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-list__button .button > a {
  text-decoration: none;
  color: #fff;
}

.dotted-line__wrapper{
  padding-top: 24px;
}

.dotted-line{
  border: 1px dashed #c9c5b9;
  // border-top: 1px dotted #f00;
  // color: #fff;
  // background-color: #fff;
  height: 1px;
  width: 100%;
}


.card-list__linktext{
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
}

.card-list__linktext > a {
  padding: 10px;
  text-decoration-color: $color-mandy;
  font-size: 14px;
  color: #3a3533;
}

// .card-list__link{
//   padding: 10px;
//   text-decoration-color: $color-mandy;
//   font-size: 14px;
//   color: #3a3533;
// }

.card-list__items {
  list-style-type: none;
  text-align: center;
  color: #3a3533;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  @include breakpoint($bp-sm) {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.card-list__item {

  @include breakpoint($bp-sm) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &:not(:first-child) {
    margin-top: 48px;

    @include breakpoint($bp-sm) {
      margin-top: 0;
    }
  }
}
